.galleryBox{
    margin-left: 23vw;
}

.categoryList{
    position: absolute;
    text-align: left;
}

.categoryListItem{
padding: 8px 6px;
font-weight: bolder;
list-style: none;
cursor: pointer;
user-select: none;
transition: 0.2s ease;
}

.categoryListItem:hover{
    background-color:  rgb(209, 255, 229);
}

.categoryListItem:active{
    background-color:  rgb(162, 230, 191);
}

.categoryTitle{ 
    text-align: left;
    padding-left: 5px;
    user-select: none;
    margin-top: 3rem;
    margin-left: 1rem;
}

.filterTitle{
    text-align: left;
    position: relative;
    user-select: none;
}

.filterSection{
    text-align: left;
    position: relative;
    padding-left: 10px;
}

select{
    text-align: left;
    position: relative;
    /* top: 30vh; */
    left: 0;
    padding: 5px 0px;
    padding-left: 10px;
    user-select: none;
    border-radius: 7px;
    max-width: 15vw;
}

select:hover{
    background-color:  rgb(209, 255, 229);
}

.line{
    border-bottom: 1.5px solid rgb(17, 158, 12);
    max-width: 25vw;
    margin-left: 4px;
    margin-top: 0;
    opacity: 70%;
}