.galleryBox{
    margin-left: 25vw;
    margin-top: 0.4;
}

.categoryList{
    position: absolute;
    text-align: left;
}

.categoryListItem{
padding: 8px 6px;
font-weight: bolder;
list-style: none;
cursor: pointer;
user-select: none;
transition: 0.2s ease;
}

.categoryListItem:hover{
    background-color:  rgb(209, 255, 229);
}

.categoryListItem:active{
    background-color:  var(--light-shade);
}

.categoryTitle{ 
    text-align: left;
    padding-left: 5px;
    user-select: none;
    margin-top: 2.8rem;
    margin-left: 1rem;
}

.filterTitle{
    text-align: left;
    position: relative;
    user-select: none;
}

.filterSection{
    text-align: left;
    padding-left: 10px;
   
}

.filterSectionBox{
    position: absolute;
    text-align: left;
     top: 578px;
}


select{
    text-align: left;
    position: relative;
    left: 0;
    padding: 5px 0px;
    padding-left: 10px;
    user-select: none;
    border-radius: 7px;
    max-width: 15vw;
}

select:hover{
    background-color:  rgb(209, 255, 229);
}

.line{
    border-bottom: 1.5px solid var(--deep-shade);
    max-width: 25vw;
    margin-left: 4px;
    margin-top: 0;
    opacity: 70%;
}

.search {
    position: absolute;
    top: 17vh;
    left: 60%;
    transform: translate(-50%);
    width: 50vw;
    z-index: 2;
    display: flex;
    align-items: center;
  }
  
  .searchBar {
    border-radius:7px;
    font-size: medium;
    text-align: left;
    width: 40vw;
    height: 5vh;
  }
  
    .searchButton{
        margin-left: 1rem;
        box-shadow: -4px 4px 0px 0px var(--mid-shade);;
        transition: 0.2s ease-in;
        touch-action: manipulation;
        padding: 7px 10px 7px;
      }
    
    button{
        border-radius: 2px;
        user-select: none;
        font-family: "Montserrat", sans-serif;
        border:none;
        cursor: pointer;
    }
    
    .searchButton:hover{
        box-shadow: 0px 2px 1px 1px var(--mid-shade);;
    }
    
    .searchButton:active{
        box-shadow: 0px 0px 1px 1px whitesmoke;
        transition: 0s;
    }