.productImage{
    max-width: 40vw;
    max-height: 50vh;
    height: auto;
    position: relative;
    margin: auto;
    border-radius: 14px;
}

.imageBox{
    float: right;
    margin-right: 4rem;
    margin-top: 2rem;
}

.submit{
    margin-top: 4rem;
    box-shadow: -5px 5px 0px 0px var(--mid-shade);;
    transition: 0.2s ease-in;
    touch-action: manipulation;
    padding: 14px 20px 13px;
  }

button{
    border-radius: 2px;
    user-select: none;
    font-family: "Montserrat", sans-serif;
    border:none;
    cursor: pointer;
}

.submit:hover{
    box-shadow: 0px 3px 1px 1px var(--mid-shade);;
}

.submit:active{
    box-shadow: 0px 0px 1px 1px whitesmoke;
    transition: 0s;
}


.productDataBox{
    text-align: left;
}

#discount{
    color: rgb(221, 119, 119);
    font-weight: bolder;
}

.spanText{
    color: var(--deep-shade);
    font-weight: bolder;
    padding-left: 10px;
}

.link{
    text-decoration: none;
    color: rgb(14, 13, 13);
  }