
.heroImage {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./rent.jpg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./photos11.jpg"); 
    /* Set a specific height */
    height: 75vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 4rem;
  }
  
  /* Place text in the middle of the image */
.heroText {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  } 

  .heroButton{
    box-shadow: -5px 5px 0px 0px rgb(117, 172, 126);
    transition: 0.2s ease-in;
    touch-action: manipulation;
    padding: 14px 20px 13px;
  }

button{
    border-radius: 2px;
    user-select: none;
    font-family: "Montserrat", sans-serif;
    border:none;
    cursor: pointer;
}

.heroButton:hover{
    box-shadow: 0px 3px 1px 1px rgb(117, 172, 126);
}

.heroButton:active{
    box-shadow: 0px 0px 1px 1px whitesmoke;
    transition: 0s;
}

.explainBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.explainImage{
  margin: 1rem;
  max-height: 30vh;
  max-width: 25vw;
padding: 0px 10px;
  display: inline;
}

.explainTitle{
  text-align: left;
  margin-left: 8%;
  margin-top: 6rem;
}


.link{
  text-decoration: none;
  color: black;
}
