.icon{    
    border: 2px solid white;
    box-shadow: 0px 3px 0px 0px rgb(255, 255, 255);
    transition: 0.2s ease-in;
    touch-action: manipulation;
    user-select: none;
    color: whitesmoke !important;
}

.icon:hover{
    box-shadow: 0px 1px 0px 0px rgb(255, 255, 255);
    color: whitesmoke;
}

.icon:active{
    box-shadow: none;
    transition: 0s;
}

.headingBox{
    position: relative;
}

.heading{
 text-align: left;

}

.gridTile{
    cursor: pointer;
}