body {
  text-align: center;
}
.nav-bar {
  overflow: hidden;
  background-color: rgb(209, 255, 229);
  position: sticky;
  align-items: center;
}

/* Navbar links */
.home-link{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
   text-decoration: none;
}
.pages {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}


.logo{
  height: 7vh;
}

.logo-box{
  position: relative;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer{
  margin-top: 4rem;
  padding: 30px 10px;
  background-color: rgb(209, 255, 229);
}