

:root {
  --background-shade: #bca0ff;
  --secondary-shade: rgba(227, 203, 255, 0.972);
  --panel-shade: #e2c3ff;
  --panel-mid-shade: #e6d6ff;
  --deep-shade: #18612b;
  --mid-shade: #4aac64;
  --light-shade: #d8ecbf;
}



@media screen and (min-width: 320px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}


body {
  margin: 0;
  /* background-color: rgba(209, 251, 155, 0.514);
  background-image: radial-gradient( circle farthest-corner at 10% 20%,   rgba(209, 251, 155, 0.096) 0% , rgba(50, 172, 109, 0.103) 100.9%);
  background-attachment: fixed; */
 
  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  */
  font-family: 'Work Sans', 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
