.paymentContainer{
    margin-left: 2rem;

    max-width: 40vw;
    border: 2px solid var(--deep-shade);;
    box-shadow: -5px 5px 0px 0px var(--mid-shade);;
    padding: 13px 13px;
    border-radius: 8px;
}

.paymentContainer:hover{
    box-shadow: 0px 3px 1px 1px var(--mid-shade);
}

